/*  Course: CMPS2151 - Web Dev

    Author: Manuel Medina


    Filename: styles.css
*/

/*-------------------- Project Styles ------------------*/
input {
  font-size: 1.05em;
  color: rgb(80, 80, 80);
  margin-bottom: 15px;
}

input:invalid {
  border-color: red;
  box-shadow: 2px 2px 5px red;
}

input[type='submit'] {
  margin: 0 auto;
  float: none;
  font-size: 1.1em;
  background-color: #bf7e21;
  color: white;
  padding: 3px;
  width: 100px;
}
