body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  font-family: 'Poppins', sans-serif;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  color: midnightblue;
  text-align: right;
}

/* Desktop */

body {
  margin-right: 100px;
  margin-left: 100px;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: start;
}

h1 {
  width: 50%;
}

/* Card Styling */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  gap: 50px;
}

.tile-image {
  object-fit: contain;
  width: 300px;
  height: auto;
}

.card-text {
  width: 300px;
}

.highlight {
  color: #1a1861;
}

/* Mobile Responsiveness */

@media (max-width: 950px) {
  body {
    margin: 50px 20px 0px 20px;
  }

  .logo {
    width: 35%;
  }

  h1 {
    width: 100%;
    font-size: 4.5rem;
    text-align: center;
  }

  .card-container {
    flex-direction: column;
    gap: 50px;
  }

  .card {
    flex-direction: column;
    gap: 5px;
  }

  .tile-image,
  .card-text {
    width: 100%;
  }
}
